In [3]:
import pytesseract
import cv2
import pandas as pd
import imutils
from imutils import paths
import re
import numpy as np
from datetime import datetime
import dateutil.parser as dparser

# --- BI

In [4]:
path = '/home/juan/Downloads/boletas/BI'

In [5]:
all = list(paths.list_images(path))

In [6]:
texts = []
for image in all:
    image = cv2.imread(image)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    text = pytesseract.image_to_string(image)
    text = ' '.join(text.split('\n'))
    text = text.split()
    texts.append(text)

In [7]:
bi_df = pd.DataFrame()

In [8]:
values = []

In [9]:
def filterNumber(n):
	if len(n)==3 or len(n)==2 :
		return True
	else:
		return False

In [10]:
quitar = ['C', 'CUENTA', 'SAVINGS', 'CHECKING']
for element in texts:
    #--No. Auto
    auto = ' '.join(element[11:15])
    auto = re.findall('[0-9]+', auto)
    auto = auto[0]
    #--Nombre
    nombre = ' '.join(element[14:20])
    nombre = re.findall('[A-Z]+', nombre)
    nombre  = [word for word in nombre if word not in quitar]
    nombre = ' '.join(nombre)
    #--Fecha
    fecha  = ' '.join(element[5:9])
    fecha = re.findall('[0-9]+', fecha)
    fecha = '-'.join(fecha)
    #monto
    monto = ' '.join(element[31:39])
    monto = re.findall('[0-9]+', monto)
    monto = list(filter(filterNumber, monto))
    monto = '.'.join(monto)

    values.append([auto, nombre,fecha, monto])

In [11]:
for val in values:
    temp_df = pd.DataFrame([val], columns=['# Autorizacion', 'Nombre', 'Fecha', 'Monto'])
    bi_df = bi_df.append(temp_df, ignore_index=True)
print(bi_df)

   # Autorizacion                            Nombre              Monto   Fecha
0         2273612    OSORIO LEAL ALEJANDRA MICHELLE  02-01-23-07-50-03  255.00
1         4202570      RODRIGUEZ ESTEBAN MARIA JOSE  04-01-23-01-13-24  230.00
2         2210934   HERNANDEZ CORONA CARLOS ROBERTO  02-01-23-03-50-25  230.00
3         8160959   GONZALEZ ARAUJO FERNANDO JAVIER  08-01-23-01-26-30  250.00
4         8205388              CALVO QUEZADA ANDRES  08-01-23-02-24-26  250.00
5         6173589  HURTARTE RODRIGUEZ SARA ALICIA O  06-01-23-08-39-50  250.00
6         6199220         AGUILAR BATRES MARIA JOSE  06-01-23-01-17-03  230.00
7         3206043        ALVAREZ FRANCO ANA LETICIA  03-01-23-02-07-44  230.00
8         7294936  CORDON CASTANEDA MARIANA DESIREE  07-01-23-09-07-54  250.00
9         8212982               CANEL WENDY EMILENY  08-01-23-01-10-23  250.00
10        2260864   MONTENEGRO GALLARDO CLONI MARIA  02-01-23-04-21-08  230.00
11        2199521      ANTON OCAMPO MARIA ALEJANDRA  02-01-23-03-58-12  230.00
12        5209752      TEJEDA GRAJEDA MARIA NATALIA  05-01-23-11-48-06  220.00
13        4256090             STOLZ LARRIEU JUERGEN  04-01-23-09-43-26  255.00
14        4298335            GIRON CORDON SOL MARIA  04-01-23-10-32-42  245.00
15        5200467     NAVAS GONZALEZ CARLOS VICENTE  05-01-23-05-09-55  250.00

In [13]:
#agregar mes al archivo 
bi_df.to_csv('/media/juan/juan1/pyimage_univ/OCR/ritix/bi.csv')

# --Bac

In [38]:
path = '/home/juan/Downloads/boletas/4A859223-DD2A-46B7-A418-885308D59AC9 - María Ximena Sandoval.jpeg'

In [39]:
texts = []
image = cv2.imread(path)
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
text = pytesseract.image_to_string(image)
text = ' '.join(text.split('\n'))
text = text.split()
texts.append(text)
texts = texts[0]

In [40]:
#--No. Auto
auto = texts[-1]
#--Nombre
nombre = ' '.join(texts[11:16])
nombre = re.findall('[A-Z]+', nombre)
nombre  = [word for word in nombre if word not in quitar]
nombre = ' '.join(nombre)
#--Fecha
fecha  = '-'.join(texts[30:33])
#monto
monto = texts[34]

values = [auto, nombre,fecha, monto]

In [41]:
values

['900410927', 'MARIA XIMENA SANDOVAL HUERTAS', '02-enero-2023', 'Q230.00']

In [44]:
bac_df = pd.DataFrame()

In [45]:
temp_df = pd.DataFrame([values], columns=['# Autorizacion', 'Nombre', 'Fecha', 'Monto'])
bac_df = bac_df.append(temp_df, ignore_index=True)
bac_df

  # Autorizacion                         Nombre          Fecha    Monto
0      900410927  MARIA XIMENA SANDOVAL HUERTAS  02-enero-2023  Q230.00

# --Banrural

In [52]:
path = '/home/juan/Downloads/boletas/8BD08CE6-C0D6-49B9-ABE0-2635D499E7F6 - Laura Batres.jpeg'

In [53]:
texts = []
image = cv2.imread(path)
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
text = pytesseract.image_to_string(image)
text = ' '.join(text.split('\n'))
text = text.split()
texts.append(text)
texts = texts[0]

In [55]:
#--No. Auto
auto = texts[48]
#--Nombre
nombre = ' '.join(texts[32:36])
nombre = re.findall('[A-Z]+', nombre)
nombre  = [word for word in nombre if word not in quitar]
nombre = ' '.join(nombre)
#--Fecha
fecha  = ''.join(texts[55:60])
#monto
monto = texts[47]

values = [auto, nombre,fecha, monto]

In [56]:
values

['486587004', 'LAURA PAOLA BATRES JIMENEZ', '02/01/202318:52:36', '250.00']

# --InterBanco

In [70]:
path = '/home/juan/Downloads/boletas/26DB4667-6DB1-4D56-99DC-B620282DC3A1 - Mery Ann Alegria Fuentes.png'

In [71]:
texts = []
image = cv2.imread(path)
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
text = pytesseract.image_to_string(image)
text = ' '.join(text.split('\n'))
text = text.split()
texts.append(text)
texts = texts[0]

In [73]:
#--No. Auto
auto = texts[5]
#--Nombre
nombre = 'Mary Ann Alegria Fuentes'
#--Fecha
fecha  = ' '.join(texts[7:9])
#monto
monto = texts[18]

values = [auto, nombre,fecha, monto]

In [74]:
values

['6847804', 'Mary Ann Alegria Fuentes', '02/01/23 16:33', '250.00']

# --GyT

In [85]:
path = '/home/juan/Downloads/boletas/672E35B7-A3A7-4A5D-B452-9F6F551DEEF7 - Jacklyn Ortega.jpeg'

In [86]:
texts = []
image = cv2.imread(path)
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
text = pytesseract.image_to_string(image)
text = ' '.join(text.split('\n'))
text = text.split()
texts.append(text)
texts = texts[0]

In [87]:
texts

['0/01/2023',
 '16:16',
 'Transferencia',
 'realizada',
 'No.',
 'de',
 'autorizacién',
 '0016160874',
 'Nombre',
 'de',
 'cuenta',
 'de',
 'JACKLYN',
 'NOEMI',
 'debit:',
 'ORTEGA',
 'OLIVA',
 'No.',
 'de',
 'cuenta',
 'de',
 'débito:',
 '029-0019148-6',
 'Nombre',
 'de',
 'cuenta',
 'de',
 'RITA',
 'MONTENEGRO',
 '-',
 'crédito:',
 'CLUB',
 'DE',
 'LECTORES',
 'No.',
 'de',
 'cuenta',
 'de',
 'crédito:',
 '1850049410',
 'Moneda:',
 '(QUETZALES',
 'Monto:',
 '230.00',
 'Recuerda',
 'descargar',
 'y',
 'quardar',
 'tus',
 'comprobantes']

In [88]:
#--No. Auto
auto = texts[7]
#--Nombre
nombre = ' '.join(texts[12:17])
nombre = re.findall('[A-Z]+', nombre)
nombre  = [word for word in nombre if word not in quitar]
nombre = ' '.join(nombre)
#--Fecha
fecha  = ' '.join(texts[0:2])
#monto
monto = texts[43]

values = [auto, nombre,fecha, monto]

In [89]:
values

['0016160874', 'JACKLYN NOEMI ORTEGA OLIVA', '0/01/2023 16:16', '230.00']